.container {
  padding: 2rem;
  border: 1px solid black;
  border-radius: 1rem;
  height: 150px;
  width: 300px;
  display: flex;
  margin: auto;
  margin-bottom: 50px;
}
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  height: auto;

  margin: auto;
  margin-top: 50px;
}
.image {
  height: 100px;
  margin-right: 10px;
  margin-left: 50px;
}
.button {
  margin: auto;
  margin-left: 650px;
}
.header {
  text-align: center;
  margin: auto;
}
